<div class="cover-photo">
  <img src="/{{user.coverPhotoPath}}" alt="Cover Photo">
</div>

<div class="profile-container">
  <div class="profile-picture">
    <img src="/{{user.profilePhotoPath}}" alt="Profile Picture">
    <div class="user-name">{{ user.fullName }}</div>
    <div class="user-username"> &commat;{{ user.username }}</div>
  </div>
</div>

<div class="statistics-container">
  <span class="statistic"> <span class="number">{{ getUserBookCount() }}</span> Book</span>
  <span class="statistic"> <span class="number">{{ getFollowingUserCount() }}</span> Following</span>
  <span class="statistic"> <span class="number">{{ getFollowerCount() }}</span> Follower</span>
  <span class="statistic"> {{ user.username }} Review</span>
</div>


<mat-tab-group>
  <mat-tab label="Library">
    <app-library
      [userBooks]="userBooks"
    ></app-library>
  </mat-tab>
  <mat-tab label="Wall">
    <app-wall></app-wall>
  </mat-tab>
  <mat-tab label="Reviews">
    <app-reviews></app-reviews>
  </mat-tab>
  <mat-tab label="Comments">
    <app-comments></app-comments>
  </mat-tab>
  <mat-tab label="Goals">
    <app-goals
      [readingGoals]="readingGoals"
    ></app-goals>
  </mat-tab>
</mat-tab-group>
