<div class="center-container">
  <form [formGroup]="signUpForm" (ngSubmit)="signUp()">
    <mat-form-field class="custom-field">
      <mat-label>Email</mat-label>
      <input matInput
             type="email"
             placeholder="readNrent@example.com"
             formControlName="email"
             required>
    </mat-form-field>

    <mat-form-field class="custom-field">
      <mat-label>Username</mat-label>
      <input matInput
             formControlName="username">
    </mat-form-field>

    <mat-form-field class="custom-field">
      <mat-label>First Name</mat-label>
      <input matInput
             formControlName="firstName">
    </mat-form-field>

    <mat-form-field class="custom-field">
      <mat-label>Last Name</mat-label>
      <input matInput
             formControlName="lastName">
    </mat-form-field>

    <mat-form-field class="custom-field">
      <mat-label>Password</mat-label>
      <input type="password"
             matInput
             formControlName="password">
    </mat-form-field>

    <mat-form-field
      hintLabel="Passwords must be same."
      class="custom-field">
      <mat-label>Password Confirmation</mat-label>
      <input type="password"
             matInput
             formControlName="passwordConfirmation">
      <mat-hint align="end">
        <mat-icon *ngIf="signUpForm.value.password === signUpForm.value.passwordConfirmation"
                  fontIcon="done"></mat-icon>
        <mat-icon *ngIf="signUpForm.value.password !== signUpForm.value.passwordConfirmation"
                  fontIcon="block"></mat-icon>
      </mat-hint>
    </mat-form-field>

    <button class="sign-up-button"
            mat-raised-button
            type="submit"
            color="primary">
      Sign Up
    </button>
  </form>
</div>ß
