<div class="center-container">
  <input type="file" class="file-upload" onchange="console.log(event.target.files)">

  <form [formGroup]="addBookForm" (ngSubmit)="onSubmit()">
    <mat-form-field class="custom-field">
      <mat-label>Email or Username</mat-label>
      <input matInput
             required
             formControlName="password">
    </mat-form-field>

    <button class="sign-up-button"
            mat-raised-button
            type="submit"
            color="primary">
      Add
    </button>
  </form>
</div>

