<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" mode="side" opened="true">
    <mat-toolbar>
      <mat-icon>library_books</mat-icon>
      &nbsp; readNrent
    </mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/sign-in">
        <mat-icon>home</mat-icon> &nbsp;Home</a>
      <a mat-list-item routerLink="/sign-up">
        <mat-icon>message</mat-icon> &nbsp;Messages</a>
      <a mat-list-item routerLink="/sign-up">
        <mat-icon>notifications</mat-icon> &nbsp;Notifications</a>
      <a *ngIf="isUserSignedIn" mat-list-item routerLink="/profile">
        <div class="profile-picture">
          <img src="assets/img/default-profile-photo.webp" alt="Profile Picture">
        </div>
        <span class="sidebar-text">&nbsp;Profile</span></a>
      <a *ngIf="!isUserSignedIn" mat-list-item routerLink="/sign-in">
        <mat-icon>home</mat-icon> &nbsp;Sign In</a>
      <a *ngIf="isUserAdmin" mat-list-item routerLink="/admin">
        <mat-icon>security</mat-icon> &nbsp;Admin Panel</a>
      <a *ngIf="isUserSignedIn" mat-list-item (click)="signOut()">
        <mat-icon>exit_to_app</mat-icon> &nbsp;Sign Out</a>
    </mat-nav-list>
  </mat-sidenav>
</mat-sidenav-container>
